<div class="banner1">
    <div class="inner-ban">
        <img src="/images/homelogo.png" alt="EPL LOGO">
    </div>
</div>

<div class="content">
    <div class="row">
        <div id="one" class="col-xs-12">
            <h1> SELECT YEAR : 
                <select class="custom-select" ng-model="main.year" ng-change="main.setVal()"  ng-init="main.year='2012-13'">
                      <option value="2012-13" selected>2012-13</option>
                      <option value="2013-14">2013-14</option>
                      <option value="2014-15">2014-15</option>
                      <option value="2015-16">2015-16</option>
                      <option value="2016-17">2016-17</option>
                </select>
            </h1>
            <a href="#!table2015"><h3> POINTS TABLE </h3></a>
            <a href="#!view2015"><h3> MATCHES HELD </h3></a>
        </div>
    </div>
</div>